<li class="uneaten list-group-item uneaten list-group-item-danger d-flex justify-content-between align-items-center h4 p-3 my-2 border-0 rounded">

  {{burger_name}}

  <span class="badge bg-danger rounded-pill">YUM!</span>

</li>