{{!-- Header --}}
<div class="header text-center mt-5">
  <img id="burger-logo" src="/assets/img/burger.png" alt="">
  <h1 class="display-2 roboto-slab text-warning mb-5">
    burger<span class="text-dark">.js</span></h1>
</div>

<hr>

{{!-- Form: Add Burger --}}
<form>
  <div class="row p-2">
    <div class="col-8 ">
      <input id="burger_name" class="form-control form-control-lg" type="text" placeholder="Name a burger...">
    </div>
    <div class="col-4 d-grid gap-2">
      <button id="add_burger" class="btn btn-warning btn-dark" type="submit">ADD IT!</button>
    </div>
  </div>
</form>

<hr id="form-bottom">

{{!-- Burger Database Output Container --}}
<div id="burger-container" class="mx-auto">
  <div class="row">

    {{!-- List: Undevoured Burgers --}}
    <div class="col-12 col-md-6 pr-0 mt-4">
      <p class="display-4 roboto-slab text-center fs-1 mb-0">ON DECK</p>
      <ul id="uneaten" class="list-group roboto fw-light p-2">

        {{#each burgers}}
        {{#unless devoured}}
        {{> burger_uneaten devoured=0}}
        {{/unless}}
        {{/each}}

      </ul>
    </div>

    {{!-- List: Devoured Burgers --}}
    <div class="col-12 col-md-6 pl-0 mt-4">
      <p class="display-4 roboto-slab text-center fs-1 mb-0">DEVOURED</p>
      <ul id="eaten" class="list-group roboto p-2">

        {{#each burgers}}
        {{#if devoured}}
        {{> burger_eaten devoured=1}}
        {{/if}}
        {{/each}}

      </ul>
    </div>
  </div>
</div>

{{!-- Footer --}}
<footer class="fixed-bottom bg-dark text-center py-2">
  <div id="badges">
    <span class="badge rounded-pill bg-dark roboto">Node.js</span>
    <span class="badge rounded-pill bg-dark roboto">Express</span>
    <span class="badge rounded-pill bg-dark roboto">MySQL</span>
    <span class="badge rounded-pill bg-dark roboto">Handlebars.js</span>
    <span class="badge rounded-pill bg-dark roboto">Bootstrap 5</span>
  </div>
</footer>